@font-face {
    font-family: 'HankenBook';
        src: url('/fonts/Hanken-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LinearRegular';
        src: url('/fonts/LinearRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.service.na{
    filter:  grayscale(0.8) opacity(10%);
    -webkit-filter: grayscale(0.8) opacity(20%);
}
.service-netflix.na{
    filter: blur(2px) grayscale(0.8) opacity(100%);
    -webkit-filter: blur(2px) grayscale(0.8) opacity(100%);
}
img.no{
    filter: blur(1px) grayscale(0.9) opacity(100%);
    -webkit-filter: blur(1px) grayscale(0.9) opacity(100%);
}
.service-crunchyroll{
    background-image:url("./services/crunchyroll-800.png");
}

.service-funimation{
    background-image:url("./services/funimation-800.png")
}

.service-hulu{
    background-image:url("./services/hulu-800.png")
}

.service-netflix{
    background-image:url("./services/netflix-800.png")
}
.service-viewster{
    background-image:url("./services/viewster-800.png")
}
.service-daisuki{
    background-image:url("./services/daisuki-800.png")
}

.service-animelab{
    background-image:url("./services/animelab-800.png")
}

.service-animax{
    background-image:url("./services/animax-800.png")
}

.service-hanabee{
    background-image:url("./services/hanabee-800.png")
}

.service-animenetwork{
    background-image:url("./services/animenetwork-800.png")
}
.simulcast{
    background-image:url("./tags/current-round.png");
    background-size: 18px 18px;
    position: absolute;
    top: -4px;
    right: -4px;
    width: 18px;
    height: 18px;
}
.dub{
    background-image:url("./tags/dub.png");
    background-size: 18px 18px;
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 18px;
    height: 18px;
}
.info-item{
    position:relative;
    text-align: center;
    margin: 6px;
}
.tag{
    position:relative;
    width:30px;
    height:30px;
    margin: 2px;
    margin-right: 15px;
}
.desc{
    position:relative;
    height:30px;
    top:2px;
}

@media only screen and (min-width : 0px) {
    html{
        width:100%;
    }
    body{
        background-color: #333333;
        background-size: 200px 200px;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-attachment: fixed;
        width: 100%;
    }
    .logo-container{
        height: 90px;
        top: 0;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .title{
        font-family: 'HankenBook'; 
        font-weight: bold; 
        font-style: normal; 
        text-align: left;
        font-size: 40px;
        line-height: 40px;
        color:white;
        text-align: center;
        margin: 0px;
    }
    .subtitle{
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        text-align: left;
        font-size: 20px;
        text-align: center;
        margin: 0px;
    }
    .regions-container{
        background-color:rgba(66,66,66,0.9);
        border:1px #333333 solid;
        text-align:center;
        margin: 5px;
    }
    .info-container{
        background-color:rgba(66,66,66,0.9);
        border:1px #333333 solid;
        text-align:center;
        margin: 5px;
        height: 50px;
        color:white;
        position:relative;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        text-align: left;
        font-size: 20px;
    }
    a.region-flag{
        display: inline;
        width: 44px;
        height: 44px;
        margin: 2px 10px;
    }
    .region-flag img{
        width: 44px;
        height: 44px;
    }
    
    .search-container{
        text-align: center;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        color:#fff;
        position: relative;
        margin-top: 0px;
        padding: 5px 5px;
    }
    .search-input{
        text-align:left;
        display:block;
        padding:5px;
        border: none;
        border-bottom:1px solid #fff;
        width:100%;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        background:rgba(0,0,0,0);
        height: 40px;
        font-size: 20px;
        color: #fff;
        text-transform:lowercase;
    }
    .search-input:focus{
        outline:none;
        background: rgba(255,255,255,0.2)
    }
    .search-clear{
        
        width: 40px;
        height: 40px;
        vertical-align: center;
        line-height: 40px;
        font-size: 1.2em;
        display:inline-block;
        display:none;
        position:absolute;
        right: 5px;
        top: 0px;
    }
    .search-icon{
        width: 40px;
        height: 40px;
        vertical-align: center;
        line-height: 40px;
        font-size: 1.2em;
        display:inline-block;
        position:absolute;
        right: 5px;
        top: 0px;
    }
    .glyphicon{
        line-height: 40px;
    }

    .results-container{
        margin-top:20px;
        display:inline-block;
        width: 100%;
        margin: 0;
        padding: 0 5px;
        text-align: left;
        font-family: 'LinearRegular'; 
        font-weight: normal; 
        font-style: normal; 
        font-size: 1.3em;
        color:#fff;
        overflow-y:hidden;
    }
    .result{
        background-color:rgba(66,66,66,0.9);
        border:1px #333333 solid;
        margin:2px;
        padding-left:5px;
        height:92px;
        line-height:40px;
        display:block;       
        position: relative;
    }
    .result.message{
        text-align: center;
        height: 60px;
        line-height: 60px;
        text-transform:uppercase;
    }
    .result-name{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
        position: absolute;
        width: 50%;
        line-height: 1.2em;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .result-alt{
        margin-top: auto;
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
        line-height: 1em;
        font-size:0.8em;
        color:#999999;
    }
    
    .services-container{
        display:inline-block;
        text-align:right;
        margin-top:auto;
        margin-bottom:auto;
        width:50%;
        position:absolute;
        right:4px;
        line-height:44px;
         top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    
    .service{
        display:inline-block;
        position:relative;
        margin:0px 2px;
        width:44px;
        height:44px;
        background-size:44px 44px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    
    
    .footer-container{
        position:relative;
        width: 100%;
        height:60px;
        padding:5px;
    }
    .footer-right{
         display: block;
        position: relative;
        right: 0px;
        bottom: 0px;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        text-align: right;
        font-size: 1.2em;
        color:#fff;
    }
    .footer-left{
        display: block;
        position: relative;
        right: 0px;
        bottom: 0px;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        text-align: RIGHT;
        font-size: 1.2em;
        color:#fff;
        margin-right:5px;
    }
    .footer-container p{
        font-size: 1em;
        margin: 2px;
    }
}

 @media only screen and (min-width : 768px) {
     body{
        background-color: #333333;
        background-size: 300px 300px;
    }
    .title{
        font-size: 60px;
        line-height: 60px;
    }
    
    .search-container{
        padding: 0 40px;
    }
    .search-input{
        padding: 0 10px;
        height: 60px;
        font-size: 30px;
    }
    .search-clear{
        
        width: 60px;
        height: 60px;
        vertical-align: center;
        line-height: 60px;
        font-size: 1.2em;
        display:inline-block;
        display:none;
        position:absolute;
        right: 45px;
        top: 0px;
    }
    .search-icon{
        width: 60px;
        height: 60px;
        vertical-align: center;
        line-height: 60px;
        font-size: 1.5em;
        display:inline-block;
        position:absolute;
        right: 45px;
        top: 0px;
    }
    .glyphicon{
        line-height: 60px;
    }
    .results-meta{
        overflow:auto;
    }
    .results-container{
        font-size: 1.8em;
        padding: 0 40px;
    }
    .result{
        border:1px #333333 solid;
        margin:0px;
        padding:2px 10px;
        height:92px;
        line-height:92px;
        display:block;
    }
    .result.message{
        border:1px #333333 solid;
        margin:0px;
        padding:0px;
        height:60px;
        line-height:60px;
        display:block;
    }
    /*.services-container{
        display:inline-block;
        width: 144px;
        top: 2px;
        position:absolute;
        right:2px;
        line-height:44px;
    }*/
    .service{
        display:inline-block;
        margin: 0px 2px;
        top: 50%;
        width:44px;
        height:44px;
        background-size:44px 44px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .footer-container{
        position:relative;
        width: 100%;
        height: auto;
        padding:10px 40px;
    }
    .regions-container{
        margin: 4px;
    }
    .info-container{
        margin: 4px;
    }
}


@media only screen and (min-width : 1200px) {
    
    body{
        background-color: #333333;
        /*background-image:url('./madoka.png');*/
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size:400px 400px;
        height: 100%;
        overflow-y: hidden;
    }
    .logo-container{
        position:fixed;
        top: 30px;
        left: 30px;
        width: 400px;
    }
    
    .title { 
        font-family: 'HankenBook'; 
        font-weight: bold; 
        font-style: normal; 
        text-align: left;
        font-size: 4em;
        color:white;
        margin:0px;

    }
    .subtitle { 
        margin:0px;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        text-align: left;
        font-size: 1.5em;
        color:#2DBC5F;
        /*color:#E48397;*/
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .search-container{
        text-align: center;
        left: 400px;
        top: 30px;
        width: 768px;
        padding: 16px;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        color:#fff;
    }
    
    .search-input{
        text-align:left;
        display:block;
        margin:0 auto;
        padding: 0 20px;
        border: none;
        border-bottom:1px solid #fff;
        width:100%;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        background:rgba(0,0,0,0);
        height: 80px;
        font-size: 3em;
        color: #fff;
        text-transform:lowercase;
    }
    .search-input:focus{
        outline:none;
        background: rgba(255,255,255,0.2)
    }
    .search-clear{
       
        width: 80px;
        height: 80px;
        vertical-align: center;
        line-height:80px;
        font-size: 3em;
        display:inline-block;
         display:none;
        position:absolute;
        right: 16px;
        top: 16px;
    }
    .search-icon{
        width: 80px;
        height: 80px;
        line-height:80px;
        font-size: 3em;
        display:inline-block;
        position:absolute;
        right: 16px;
        top: 16px;
    }
    .glyphicon{
        line-height:80px;
    }

    .results-container{
        position: absolute;
        width: 732px;
        height: calc(100% - 220px);   
        text-align: left;
        margin-top:16px;
        left: 418px;
        padding: 0;
        font-family: 'LinearRegular'; 
        font-weight: normal; 
        font-style: normal; 
        font-size: 1.8em;
        color:#fff;
        overflow-y: auto;
    }
    .results-container::-webkit-scrollbar { 
    display: none; 
    }
    .result{
        border:1px #333333 solid;
        margin:0px;
        padding:2px 20px;
        height:92px;
        line-height:44px;
        display:block;
    }
    .result-name{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
        position: absolute;
        width: 45%;
        line-height: 1.2em;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .result-alt{
        margin-top: auto;
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
        line-height: 1em;
        font-size:0.8em;
        color:#999999;
    }
    .result.message{
        border:1px #333333 solid;
        margin:0px;
        text-align:center;
        padding: 0;
        height:60px;
        line-height:60px;
        text-transform:uppercase;
    }
    .services-container{
        
        right:20px;
    }
    .service{
        position:relative;
    }
   
    .footer-container{
        display: inline-block;
        margin:3px;
        position: fixed;
        bottom: 20px;
        left: 420px;
        width: 734px;
    }
    
    .footer-right{
        display: block;
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        text-align: right;
        font-size: 1.2em;
        color:#fff;
    }
    .footer-left{
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        font-family: 'HankenBook'; 
        font-weight: normal; 
        font-style: normal; 
        text-align: left;
        font-size: 1.2em;
        color:#fff;
    }
    .footer-container p{
        font-size: 1em;
        margin: 2px;
    }
    .regions-container{
        position: fixed;
        width: 350px;
        left: 25px;
        top: 150px;
    }
    
    .info-container{
        position: fixed;
        width: 350px;
        left: 25px;
        top: 220px;
    }
}
@media only screen and (max-width : 767px) {
    .mobile-hide{
        display:none;
    }
    .service.na{
        display:none;
    }
}



